body {
    font-family: "Baloo Bhaina 2";
    margin: 0;
    overflow-x: hidden;
}

.head {
    height: 20vh;
    background-image: url("Image/Head.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.top_bar {
    background-color: #D35E31;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0px 11vw;
}


.top_bar .left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px
}

.top_bar .right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.left img {
    width: 16px;
    height: 16px;
}


.image_nav {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: flex-end;
    justify-content: center;
}

#youtube {
    width: 18px;
    height: 18px;
    margin-left: 2px;
}

.top_bar .right {
    display: flex;
    justify-content: center;
    align-items: center;
}


.right img {
    width: 14px;
    height: 14px;
    object-fit: scale-down;
    padding: 0 5px 5px 50px
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #D35E31;
    color: #FFF;
    font-family: "Baloo Bhaina 2";
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #D35E31;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    left: -30px;
    display: none;
    position: absolute;
    border-radius: 2px;
    background: #FEFEFE;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
    width: 130px;
    height: 85px;
}

#login {
    color: #CE3800;
    text-decoration: none;
    font-weight: bold;
    /* display: block; */
    border-radius: 2px;
    background: #FEDCD2;
    height: 35px;
    margin: 5px;
}

#register {
    color: #FFF;
    text-decoration: none;
    /* display: block; */
    font-weight: bold;
    border-radius: 2px;
    background: #DE744C;
    height: 35px;
    margin: 5px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* Modal Box ở đoạn này */

.modalLogin {
    display: none;
    background-color: #000;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalLogin_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    height: 550px;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 10px;
}

.login_content .orReg {
    padding: 0 10%;
}

.login_left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

.login_left h1 {
    padding: 0;
    padding-top: 7%;
    margin: 0;
    color: #000;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    line-height: 1;
}

.login_left p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.google {
    border-radius: 5px;
    background: #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

#userName,
#userPass {
    border-radius: 5px;
    background: #DADADA;
    gap: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    padding-left: 15px;
    font-family: "Baloo Bhaina 2";
    margin-bottom: 10px;
    /* font-weight: bold; */
}

#btnLogin {
    border-radius: 5px;
    background: #D35E31;
    width: 100%;
    height: 40px;
    border: none;
    padding-left: 15px;
    font-family: "Baloo Bhaina 2";
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

label {
    font-weight: bold;
}


.quen_pass {
    display: flex;
    justify-content: space-between;
    width: 104%;
}

.quen_pass a {
    color: #474BCA;
    font-family: "Baloo Bhaina 2";
    font-size: 14px;
    font-weight: 500;
}

/* #ghi_nho_label {
    font-family: "Baloo Bhaina 2";
    font-size: 14px;
    font-weight: 500;
} */

.remember label {
    font-family: "Baloo Bhaina 2";
    font-size: 14px;
    font-weight: 500;
}

.google img {
    width: 16px;
    height: 16px;
}

.google span {
    font-size: 14px;
    /* font-weight: 500; */
    color: #4E4E4E;
}


.login_left p:last-child {
    padding: 0 15%;
}

.login_right {
    width: 55%;
    height: 100%;
    background-color: #FEDCD2;
    padding: 0;
    border-radius: 0px 10px 10px 0px;
}

.login_right img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.login_left a {
    color: #474BCA;
}

/* The Close Button */
.close {
    display: flex;
    justify-content: center;
    line-height: 49px;
    text-align: center;
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: normal;
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.right a {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_bar p {
    padding: 0;
    padding-left: 6px;
    font-size: 16px;
    color: #FFF;
    margin: 0;

}

.top_bar a {
    text-decoration: none;
    color: #FFF;
    padding-left: 5px;
}



.sticky_scroll {
    position: sticky;
    top: 0px;
}

.vi_tri {
    margin: 0;
    width: 100vw;
    height: 3px;
    display: flex;
    justify-content: center;
    height: 3px;

}

#home_page {
    border-bottom: 3px solid #AC3C12;
    /* border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; */
}

.header {
    display: flex;
    background-color: #FEDCD2;
    align-items: center;
    justify-content: space-between;
    padding: 0 20vw;
}

.header #logo {
    display: inline;
    height: 78px;
    width: 98px;
    padding: 5px 0px;
}

.search {
    display: flex;
    /* width: 1000px; */
    height: 32px;
    align-items: center;
    /* flex-shrink: 2; */
}

.search .tim_kiem {
    display: inline;
    width: 27vw;
    height: 30px;
    align-items: center;
    border: none;
    padding-left: 10px;
    flex-shrink: 0;
    border-radius: 2px 0px 0px 2px;
}

/* input::placeholder{
    padding-left: 5px;
} */

.search .button_tim_kiem {
    padding: 0px 20px;
    /* width: 5vw; */
    height: 32px;
    background-color: #DE744C;
    position: relative;
    border: none;
    color: #FAFAFA;
    margin-right: 10px;
    border-radius: 0px 2px 2px 0px;

}

.gio_hang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #CE3800;
    padding-top: 18px;
}

.gio_hang img {
    height: 24px;
    width: 22px;
}

.gio_hang_img {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gio_hang_img p {
    position: absolute;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    line-height: 27px;
    right: -15px;
    top: -15px;
    background-color: #FF8B5F;
    color: #FFF;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
}



.gio_hang p {
    /* height: 24px;
    width: 22px; */
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.lien_he {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CE3800;
}

.lien_he img {
    height: 29px;
    width: 29px;
}

.lien_he p {
    gap: 1px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

#phone_num {
    font-size: 18px;
    font-weight: bolder;
}

#hotline {
    font-size: 12px;
}

.sdt {
    padding-right: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dieu_huong {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;
    list-style: none;
    margin: 0;
    border-bottom: 3px solid #EAEAEA;
}

.dieu_huong li {
    list-style: none;
    padding: 0 30px;
}

/* .dieu_huong li:hover {
    transform: translateY(-0.15em);
    background-color: rgba(0, 0, 0, 0.10);
	display: inline-block;
	transition-duration: .3s;
	transition-property: transform;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);

	&:hover {
		transform: translateY(-5px);
	}
}
} */

.nav_bar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    color: #AC3C12;
}


.banner img {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}

h1 {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 0;
}

h1:hover {
    color: #AC3C12;
    cursor: pointer;
}

.best_pro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vh;
}

.pro1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 21px;
}

.pro_img {
    width: 14vw;
    height: 14vw;
    object-fit: cover;
    margin: 0;
    box-shadow: 0px 4px 10.600000381469727px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    /* filter: drop-shadow(0px 4px 10.600000381469727px rgba(0, 0, 0, 0.25)); */
}

.pro_name {
    margin: 0;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
}

.pro_price {
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.star {
    display: flex;
}

.star img {
    display: flex;
    width: 10px;
    height: 10px;
    padding: 0 2px;
}

.vote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vote p {
    margin: 0;
    padding-left: 10px;
}

.line {
    width: 1px;
    height: 360px;
    background: #D9D9D9;
}

.phan_phoi {
    justify-content: space-between;
    display: flex;
    height: 50vh;
}

.phan_phoi img {
    width: 24vw;
    height: 24vw;
    object-fit: cover;
}

.review {
    display: flex;
    justify-content: center;
    padding-bottom: 3vh;
}

.review_pro {
    display: flex;
    flex-direction: column;
    width: 30vh;
    justify-content: center;
    align-items: center;
    padding: 0 3vw;
}

.rv_img {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    margin: 0;
    box-shadow: 0px 4px 10.600000381469727px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.rv_name {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
}

.rv_content {
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}

.cta_cat {
    margin-top: 5vh;
    background: #FEDCD2;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: auto;
}

.cta_cat img {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    object-position: top;
    /* position: absolute;
    bottom: 0;
    left: 25vw; */
}

.cta_cat .slogan {
    padding: 0 5vw;
}

.cta_cat .tim_kiem {
    display: inline;
    width: 20vw;
    height: 32px;
    align-items: center;
    border: none;
    padding-left: 20px;
}

.slogan p {
    margin: 0;
    color: #FF983B;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.slogan::first-line {
    margin: 0;
    color: #FF764C;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.cta_cat .button_tim_kiem {
    padding: 0px 20px;
    height: 32px;
    background-color: #DE744C;
    position: relative;
    border: none;
    color: #FAFAFA;
    margin-right: 10px;
}

.cam_ket {
    background-color: #FFF;
    display: flex;
    width: 100vw;
    height: 12vh;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.cam_ket1 img {
    display: flex;
    object-fit: contain;
    padding: 0 10px;
}

.cam_ket1 {
    display: flex;
    padding: 0 3vw;
}

.cam_ket1 p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.cam_ket_content::first-line {
    font-weight: 700;
    font-size: 16px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #303030;
    padding: 2vw 10vw;
    /* width: 100vw; */
}

.footer p {
    margin: 0;
}

.foot_left p {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #FFF;
}

.foot_left p:first-child {
    font-size: 16px;
    font-weight: 200;
}

.policy {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.policy a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
}

.ho_tro {
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.ho_tro a {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
}

.foot_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #FFF;
}

.foot_right .image_nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: normal;
}

.foot_right .image_nav a {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.foot_right .image_nav a:first-child {
    width: 13.5px;
    height: 13.5px;
    object-fit: cover;
    padding-right: 20px;
}

.foot_right .image_nav a:last-child {
    width: 25px;
    height: 25px;
    object-fit: cover;
    padding: 0 20px;
}

/* Modal Box ở đoạn này */

.modalReg {
    display: none;
    background-color: #000;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalReg_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.reg_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 550px;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 10px;
}

.reg_content .row {
    display: flex;
    justify-content: center;
    gap: 7%;
    width: 100%;
}

.reg_content h2,
h3 {
    margin: 0;
    padding: 0;
}

.reg_content h2 {
    color: #D35E31;
    font-size: 28px;
    font-weight: 700;
    line-height: 0;
    margin-bottom: 10px;
}

.reg_content h3 {
    margin: 20px 0;
    color: #474BCA;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


.row_box {
    display: flex;
    flex-direction: column;
}

.row_box label {
    margin-top: 10px;
}

.row input {
    padding-left: 10px;
    border-radius: 5px;
    background: #F4F4F4;
    height: 40px;
    width: 20vw;
    border: none;
    font-family: "Baloo Bhaina 2";
}

.btnReg button {
    border-radius: 5px;
    background: #D35E31;
    width: 100%;
    height: 40px;
    border: none;
    font-family: "Baloo Bhaina 2";
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.btnReg {
    margin-top: 67px;
    width: 30%;
    position: relative;
}

.btnReg img {
    position: absolute;
    top: -59px;
    right: 41px;
}

.line {
    display: inline-block;
    width: 94px;
    height: 1px;
    background: rgba(0, 0, 0, 0.25);
}

.orReg p {
    display: inline-block;
    font-size: 14px;
    margin: 15px 10px;
}

#chinh_sach {
    width: 40%;
    font-size: 13px;
    text-align: center;
    line-height: 1;
    margin-bottom: 30px;
}

.close2 {
    display: flex;
    justify-content: center;
    line-height: 49px;
    text-align: center;
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: normal;
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.best_pro .line {
    display: block;
    width: 1px;
    height: 360px;
}