body {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: "Baloo Bhaina 2";
    color: #616161;
}

* {
    margin: 0;
}

.sidebar_area {
    width: 13%;
    background: #DE744C;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
}

h1 {
    font-family: 'Coiny';
    text-transform: uppercase;
    font-weight: 400;
    color: #FFF;
    font-size: 30px;
    margin-top: 12%;
    margin-bottom: 20%;
}

.categories_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}

.categories_list li {
    font-size: 1rem;
    font-weight: 600;
    list-style: none;
    color: #FFF;
    box-sizing: border-box;
    padding: 5% 0 5% 3.5vw;
    display: flex;
    align-items: center;
    height: 20%;
}

.categories_list a {
    text-decoration: none;
    color: white;
}

.list_item button {
    border: none;
    background-color: unset;
}

#now {
    background-color: #FFF4F4;
    color: #DE744C;
}


.categories_list li:hover {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    /* margin: 2px; */
}

.categories_list li span {
    margin-left: 5%;
    margin-right: 20%;
}

.main_area {
    width: 87%;
    max-height: 100%;
    overflow-y: auto;
}

.header {
    background-color: #E8B6A3;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
}

.header p {
    color: #616161;
    font-size: 18px;
    font-weight: 600;
}

.admin_infor {
    display: flex;
    align-items: center;
    gap: 20px
}

.admin_infor img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.vi_tri {
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 5px 3%;
    gap: 10px;
}

.vi_tri .line {
    width: 1px;
    height: 13px;
    background: #A1A1A1;
}

.vi_tri .pre_lo {
    color: #A1A1A1;
    font-size: 16px;
    font-weight: 400;
}

.vi_tri .now_lo {
    font-weight: 600;
}

.line_vitri {
    height: 1px;
    background-color: #D4D4D4;
    margin: 0px 3%;
}

h3 {
    color: #616161;
    font-size: 32px;
    font-weight: 600;

}

.add_data {
    display: flex;
    padding: 0px 3%;
    gap: 30px;
}


/* Dropdown Button */
.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 13vw;
    top: 189px;
    background: #FFF4F4;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #838383;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.dropdown-content a:first-child {
    border-bottom: 3px solid #e4dfdf;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #DE744C;
}

.show {
    display: block;
}


.dropbtn1 {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    left: 13vw;
    top: 470px;
    background: #FFF4F4;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content1 a {
    color: #838383;
    padding: 7px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.dropdown-content1 a:first-child {
    border-bottom: 3px solid #e4dfdf;
}

.dropdown-content1 a:hover {
    color: #DE744C;
}

.show1 {
    display: block;
}

.title_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3%;
}

.bang {
    padding: 5px 3%;
}

.right {
    display: flex;
    max-width: 80%;
    gap: 10px;
}


.search input {

    height: 100%;
    max-width: 50vw;
    width: 20vw;
}

.search input::selection {
    border: 1px solid #B5B5B5;
}

.search button {
    border-radius: 4px;
    padding: 0 30px;
    height: 100%;
    color: white;
    background: #DE744C;
    border: none;
}

.search button:active {
    background-color: #DE744C;
    box-shadow: 0 5px #f5f5f5;
    transform: translateY(1px);
}


.sap_xep {
    padding: 4px 15px 1px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 4px;
    background: #DE744C;
}

.add_admin {
    padding: 4px 15px 1px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 4px;
    background: #DE744C;
}

table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
    /* padding: 10px 2%; */
    box-shadow: 0px 4px 14.2px 0px rgba(0, 0, 0, 0.25);
}

td img {
    margin-top: 7px;
    padding-left: 30px;
}

td {
    padding: 10px 0;
    text-align: center;

}

th {
    border-radius: 4px;
    background: #FFECE4;
    padding: 10px 2px;
    text-align: center;
}

.email_admin {
    width: 30px;
}

.quyen {
    text-align: center;
    width: 12vw;
}

.user_name {
    width: 12vw;
}

td:first-of-type {
    width: 6vw;
}

td:last-child {
    width: 5vw;
    text-align: center;
}

td:nth-of-type(5) {
    width: 15vw;
}

td:nth-of-type(4) {
    width: 20vw;
}

.quyen span {
    border-radius: 8px;
    background: #5FBCFF;
    padding: 3px 7% 2px;
    color: #FFF;
}

tr:nth-of-type(3) .quyen span {
    background: #0678CA;
    color: #FFF;
}

tr:nth-of-type(5) .quyen span {
    background: #E6E6E6;
    color: #8F9BB3;
}

.modal {
    display: none;
    background-color: #000;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 58%;
    height: 80%;
    background-color: #FFF;
    margin: 0;
    position: relative;
    border-radius: 10px;
}

.modal_head {
    height: 6%;
    /* background: #FFECE4; */
    border-top-left-radius: 10px;
    font-size: 30px;
    padding: 1.5% 4% 0 4%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EFF4FA;
    margin-bottom: 20px;
}

.modal_body input,
select {
    height: 34px;
    margin: 1% 0;
    border: 1px solid #EFF4FA;
    border-radius: 4px;
    padding-left: 10px;
}

select {
    height: 38px;
    margin: 1% 0;
    border: 1px solid #EFF4FA;
    border-radius: 4px;
    padding: 2px 0 2px 10px;
    width: 32%;
}

.row1 {
    width: 100%;

}

.row1 input {
    width: 100%;
    box-sizing: border-box;
    /* font-family: "Baloo Bhaina 2"; */
}

.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row2 input {
    width: 48%;
}

.row3 {
    display: flex;
    justify-content: space-between;
}

.row3 input {
    width: 31%;
}

.modal_body {
    padding: 0 3%;
}

#add_table {
    box-shadow: none;
    margin-top: 3%;
    border-spacing: 0;
    text-align: center;
}

#add_table th:first-of-type {
    text-align: left;
    width: 40%;

}

#add_table tr td:first-of-type {
    text-align: left;
    width: 30%;
}

#add_table tr td:last-of-type {
    width: 18%;
}

#add_table th,
td {
    border-radius: 0;
    padding: 15px 3%;
}

#add_table th {
    background: #EFF4FA;
    border-bottom: 1px solid #EFF4FA;
}

#add_table td {
    border-bottom: 1px solid #EFF4FA;
}

.xac_nhan {
    padding: 4% 3% 0 3%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.xac_nhan button:first-of-type {
    border-radius: 8px;
    background: #0095FF;
    width: 100px;
    height: 40px;
    border: unset;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.xac_nhan button:last-of-type {
    border-radius: 8px;
    background: #e4e6e9;
    width: 100px;
    height: 40px;
    border: unset;
    color: #8F9BB3;
    font-size: 18px;
    font-weight: 600;
}



.close {
    display: flex;
    justify-content: center;
    line-height: 49px;
    text-align: center;
    color: #000;
    float: right;
    font-size: 40px;
    font-weight: normal;
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}